@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

:root {
  /* CONSTANTS*/
  --HEADER-SIZE: 60px;
  --BUTTON-HEIGHT: 28px;
  --PAGINATION-WITH: 260px;
  --BOX-SHADOW:  0 5px 10px -5px var(--SHADOW-COLOR);



  /* COLORS */
  /*--theme-color: #00285c;*/
  --theme-color: #323232;
  /*--bg-color: #e4e4e4;*/
  --bg-color: #ffffff;
  --BG-COLOR-TRANSPARENT: #252525;
  --LINE-COLOR: #cfcfcf;
  --SHADOW-COLOR: #171717;
  --LIGHTING-COLOR: #e6ff00;
}

body {
  background-color: var(--bg-color);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: var(--HEADER-SIZE) 1fr;
  justify-content: center;

}

header {
  color: var(--theme-color);
  display: flex;
  column-gap: 60px;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid var(--LINE-COLOR);
  height: var(--HEADER-SIZE);
}

.search-bar-container {
  display: flex;
  width: 290px;

  & > input[type=text],
  & > button {
    padding: 5px;
    outline: none;
    border-radius: 0;
    border: 0;
  }

  & > input[type=text] {
    padding-left:5px;
    padding-right: 5px;
    flex: 1;
    border-bottom: 1px solid black;
  }


  & > button {
    display: grid;
    place-content: center;

    border: 0;
    border-bottom: 1px solid black;
    cursor: pointer;

    background-color: white;
    color: var(--theme-color);
    font-size: 1rem;

    &:hover {
      color: black;
    }
  }
}

main {
  display: grid;
  grid-template-columns: 260px 1fr;
  height: calc(100vh - var(--HEADER-SIZE));
  max-width: 1100px;
}


.left-frame,
.right-frame {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;

  margin-top: 1.5rem;

  scrollbar-width: thin;
  scrollbar-color: var(--LINE-COLOR) transparent;
}

/* LEFT FRAME */
.left-frame {
}

/* RIGHT FRAME */
.right-frame {
  padding: 0 0 30px 0;
  min-width: 850px;
}

.definition-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  textarea {
    padding: .5rem;
    min-height: 150px;
    resize: none;
  }

  button {
    height: var(--BUTTON-HEIGHT);
  }
}

.pagination {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 5px;
  max-width: 218px;

  & > button,
  & > select{
    height: var(--BUTTON-HEIGHT);

    cursor: pointer;
  }

  & > button {
    display: grid;
    place-content: center;



    border: 0;
    border-radius: 0;
    background-color: transparent;
    color: white;
    font-size: .55rem;

    &:hover {
      color: var(--LIGHTING-COLOR);
    }

    &:disabled {
      color: #656565;
    }
  }

  & > select {
    border-radius: 0;
    outline: none;

  }
}

.fa-solid {
  pointer-events: none;
}



.topic-pagination,
.definition-list-header {
  background-color: var(--BG-COLOR-TRANSPARENT);
  box-shadow: var(--BOX-SHADOW);
  border-radius: 3px;
  position: sticky;
  top: 0;
}

.topic-pagination {
  padding: .7rem 1rem ;

}

.definition-list-pagination {
  background-color: transparent;
  width: var(--PAGINATION-WITH);
  padding-left: 2.5rem;
}


.definition-list-container {
  padding: 0 1rem 0 1rem;
}

.definition-list-header {
  display: flex;
  flex-direction: column;
  row-gap: .4rem;
  align-items: end;
  padding: .5rem 1rem 1rem 1rem;
}

.definition-list-title {
  color: white;
  width: 100%;
  font-size: 1.6rem;
}

.definition-list-container > ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  padding: 2rem .4rem;
  list-style: none;
}

.definition-list-item {
  border-bottom: 1px dashed var(--LINE-COLOR);
  padding: 1rem 0;
  width: 100%;
}


/* Topic List */
.topic-container {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 1rem;
}

.topic-container > h4 {
  padding: 1rem 1rem 0;
  color: var(--theme-color);
}

.topic-list {
  list-style-position: inside;
  list-style-type: "-";
  display: flex;
  flex-direction: column;
  color: var(--theme-color);
  gap: 12px;
  padding: .5rem 1.5rem 5rem .5rem;

}
.topic::marker,
.topic-definition-count {
  color: #7c7c7c;
}



.topic > .topic-link {
  color: var(--theme-color);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
