@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

:root {
  /* CONSTANTS*/
  --HEADER-SIZE: 60px;
  --BUTTON-HEIGHT: 28px;
  --PAGINATION-WITH: 260px;
  --BOX-SHADOW:  0 5px 20px -5px var(--LINE-COLOR);



  /* COLORS */
  /*--theme-color: #053168;*/
  --theme-color: #00285c;
  --bg-color: #e4e4e4;
  --BG-COLOR-TRANSPARENT: rgba(244, 244, 244, 0.73);
  --LINE-COLOR: #a3a3a3;
}

body {
  background-color: var(--bg-color);
  height: 100vh;
  display: grid;
  grid-template-rows: var(--HEADER-SIZE) 1fr;
}

header {
  color: var(--theme-color);
  display: flex;
  column-gap: 60px;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid var(--LINE-COLOR);
}

.search-bar-container {
  display: flex;
  width: 290px;

  & > input[type=text],
  & > button {
    padding: 5px;
    outline: none;
  }

  & > input[type=text] {
    padding-left: 10px;
    padding-right: 10px;
    flex: 1;
  }

  & > button {
    width: 55px;
    display: grid;
    place-content: center;
  }
}

main {
  display: grid;
  grid-template-columns: 260px 1fr;
  height: calc(100vh - var(--HEADER-SIZE));
}


.left-frame,
.right-frame {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;


  scrollbar-width: thin;
  scrollbar-color: var(--LINE-COLOR) transparent;
}

/* LEFT FRAME */
.left-frame {
}

/* RIGHT FRAME */
.right-frame {
  padding: 0 0 30px 0;
}

.definition-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  textarea {
    padding: .5rem;
    min-height: 150px;
    resize: none;
  }

  button {
    height: var(--BUTTON-HEIGHT);
  }
}

.pagination {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 5px;

  & > button,
  & > select{
    height: var(--BUTTON-HEIGHT);
  }
}

.topic-pagination {
  position: sticky;
  top: 0;
  padding: .7rem 1rem ;
  box-shadow: var(--BOX-SHADOW);
  /*background-color: rgba(255, 255, 255, 0.6);*/
  background-color: var(--BG-COLOR-TRANSPARENT);
  backdrop-filter: blur(5px);
  border-radius: 0 0 15px 15px;

}

.definition-list-pagination {
  background-color: transparent;
  width: var(--PAGINATION-WITH);
  padding-left: 2.5rem;
}


.definition-list-container {
  padding: 1rem;
}

.definition-list-header {
  display: flex;
  flex-direction: column;
  row-gap: .4rem;

  align-items: end;
  position: sticky;
  top:0;

  background-color: var(--BG-COLOR-TRANSPARENT);
  backdrop-filter: blur(5px);
  box-shadow: var(--BOX-SHADOW);
  padding: .5rem 1rem 1rem 1rem;
  border-radius: 0 0 15px 50px;
}

.definition-list-title {
  color: var(--theme-color);
  width: 100%;
  font-size: 1.6rem;
}

.definition-list-container > ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1rem;
  list-style: none;
}

.definition-list-item {
  border-bottom: 1px solid var(--LINE-COLOR);
  padding: .5rem;
  width: 100%;
}


/* Topic List */
.topic-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.topic-container > h4 {
  padding: 1rem;
  padding-bottom: 0;
  color: var(--theme-color);
}

.topic-list {
  list-style-position: inside;
  list-style-type: "-";
  display: flex;
  flex-direction: column;
  color: var(--theme-color);
  gap: 12px;
  padding: .5rem 1rem 5rem 1rem;

}

.topic-definition-count {
  color: #7c7c7c;
  opacity: 1;

}

.topic > .topic-link {
  color: var(--theme-color);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}